@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  position: relative;
}

/* Utility */

.primary-button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--color-black-Primary, #111);
  text-decoration: none;
  transition: all 0.3s;
}

.primary-button:hover {
  border: 1px solid var(--color-White-white, #f05f30);
}

.primary-button p {
  color: var(--color-black-Primary, #111);
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s;
}

.primary-button:hover p {
  color: #f05f30;
}

.primary-button svg {
  width: 20px;
  height: 20px;
}

.primary-button svg path {
  transition: all 0.1s;
}

.primary-button:hover svg path {
  fill: #f05f30;
}

.secondary-button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--color-black-Primary, #111);
  text-decoration: none;
  transition: all 0.3s;
}

.secondary-button:hover {
  background: #f05f30;
}

.secondary-button p {
  color: var(--color-White-white, #fff);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s;
}

.secondary-button svg {
  width: 20px;
  height: 20px;
}

.secondary-button svg path {
  transition: all 0.3s;
}

.side-white-blur {
  position: relative;
}

.side-white-blur::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20%;
  height: 100%;
  background: linear-gradient(90deg, #fff, transparent);
  z-index: 1;
}

.side-white-blur::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20%;
  height: 100%;
  background: linear-gradient(-90deg, #fff, transparent);
  z-index: 1;
}

/* Navbar */

.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0 160px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-100, #d6d6d6);
  background: var(--color-White-white, #fff);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  height: 52px;
  object-fit: cover;
  flex-shrink: 0;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar-nav-link {
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-nav-link:hover {
  color: #f05f30;
}

/* Home */

.home-banner {
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 160px;
}

.home-banner-container {
  max-width: 729px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.home-banner-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 285/170;
  width: 40%;
  overflow: hidden;
  background: rgba(202, 202, 202, 0.2);
  border-radius: 8px;
}

.home-banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition:
    opacity 0.4s ease,
    filter 0.4s ease;
}

.home-banner-img img.active {
  opacity: 1;
  filter: blur(0px);
}

.home-banner-img img.inactive {
  opacity: 0;
  filter: blur(8px);
}

.home-banner-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.home-banner-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.home-banner-text h1 {
  color: var(--color-black-Primary, #111);
  text-align: center;
  font-family: var(--font-family-title, "IBM Plex Sans");
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -1.44px;
}

.home-banner-text h1 span {
  color: var(--color-Orange-Primary, #f05f30);
}

.home-banner-text p {
  color: var(--color-black-300, #4b4b4b);
  text-align: center;
  font-family: var(--font-family-body, Inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-banner-buttons {
  display: flex;
  max-width: 487px;
  width: 100%;
  align-items: flex-start;
  gap: 8px;
}

.home-banner-buttons a {
  width: 100%;
  height: 48px;
}

.home-marquee {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 80px 160px;
}

.home-marquee h2 {
  color: var(--color-black-400, #414141);
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-marquee-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-marquee-wrapper {
  width: 100%;
  overflow: hidden;
}

.home-marquee-marquee {
  display: flex;
  align-items: center;
  width: max-content;
  animation: marqueeScroll 30s linear infinite;
}

@keyframes marqueeScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.home-marquee-marquee img {
  height: 75px;
  object-fit: cover;
  margin-left: 56px;
}

.template {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.template-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.template-heading h2 {
  color: var(--color-black-200, #929292);
  font-family: "ibm plex sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.template-heading h2 span {
  color: var(--color-black-Primary, #111);
}

.template-heading p {
  max-width: 554px;
  width: 100%;
  color: var(--color-grey-Primary, #6e6e6e);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-choose {
  background: var(--color-grey-50, #f2f2f2);
}

.home-choose-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.home-choose-set {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: var(--color-White-white, #fff);
}

.home-choose-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.home-choose-img img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.home-choose-set:hover .home-choose-img img {
  scale: 1.1;
}

.home-choose-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.home-choose-text h3 {
  color: var(--color-black-Primary, #111);
  font-family: var(--font-family-body, Inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-choose-text p {
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-choose-container .home-choose-set:nth-child(1) {
  grid-row: span 2;
}

.home-choose-container .home-choose-set:nth-child(2) {
  display: flex;
}

.home-choose-container .home-choose-set:nth-child(3) {
  flex-direction: column-reverse;
}

.home-choose-container .home-choose-set:nth-child(4) {
  grid-column: span 2;
  flex-direction: row;
  align-items: flex-end;
}

.home-para {
  width: 100%;
  display: flex;
  padding: 48px 160px 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.home-para-container {
  display: flex;
  width: 100%;
  max-width: 685px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  padding-top: 64px;
  border-top: 1px solid #d6d6d6;
}

.home-para-container h2 {
  color: var(--color-grey-Primary, #6e6e6e);
  font-family: var(--font-family-title, "IBM Plex Sans");
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.2px;
}

.home-para-container h2 span {
  color: var(--color-black-Primary, #111);
}

.home-para-container p {
  padding: 8px 0px 8px 16px;
  border-left: 2px solid #b5b5b5;
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-about-left {
  display: flex;
  width: 100%;
  padding: 64px 24px 64px 160px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--color-Orange-Primary, #f05f30);
}

.home-about-set {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  color: var(--color-black-50, #e7e7e7);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-about-set span {
  color: var(--color-White-white, #fff);
  font-family: var(--font-family-title, "IBM Plex Sans");
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}

.home-about-right {
  width: 100%;
  display: flex;
  padding: 64px 160px 32px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  background: var(--color-black-Primary, #111);
}

.home-about-para {
  color: var(--color-black-50, #e7e7e7);
  font-family: var(--font-family-body, Inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-about-right a {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--color-White-white, #fff);
  color: var(--color-White-white, #fff);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
}

.home-about-right a:hover {
  color: #f05f30;
  border: 1px solid var(--color-White-white, #f05f30);
}

.home-about-right a svg {
  width: 20px;
  height: 20px;
}

.home-about-right a svg path {
  transition: all 0.3s;
}

.home-about-right a:hover svg path {
  fill: #f05f30;
}

.home-categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.home-categories-set {
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--color-grey-100, #d6d6d6);
  background: var(--color-White-white, #fff);
}

.home-categories-set-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 328/271;
}

.home-categories-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(202, 202, 202, 0.2);
  transition: all 0.3s;
}

.home-categories-set:hover img {
  scale: 1.1;
}

.home-categories-set-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.home-categories-set-text h3 {
  color: var(--color-black-Primary, #111);
  font-family: var(--font-family-body, Inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-categories-set-text p {
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-categories-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 3;
  padding-top: 40px;
}

.home-categories-button .primary-button {
  width: auto;
}

.home-capabilities {
  width: 100%;
  display: flex;
  padding: 81px 160px;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(283deg, #5f0b87 -23.76%, #f9602f 99.95%),
    var(--color-White-white, #fff);
}

.home-capabilities-container {
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.home-capabilities-container-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.home-capabilities-container-text h2 {
  color: var(--color-White-white, #fff);
  text-align: center;
  font-family: "ibm plex sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.home-capabilities-container-text p {
  color: var(--color-grey-200, #c2c2c2);
  text-align: center;
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-capabilities-container a {
  display: flex;
  width: 201px;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #fff;
  transition: all 0.3s;
  color: var(--color-black-Primary, #111);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.home-capabilities-container a:hover {
  background: #111;
  color: #fff;
}

.home-capabilities-container a svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.home-capabilities-container a svg path {
  transition: all 0.3s;
}

.home-capabilities-container a:hover svg path {
  fill: #fff;
}

.home-gallery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  padding: 80px 0px;
}

.home-gallery-heading {
  width: 100%;
  max-width: 700px;
  display: inline-flex;
  align-items: center;
  gap: 32px;
}

.home-gallery-heading h2 {
  color: var(--color-black-400, #414141);
  font-family: "IBM Plex Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex-shrink: 0;
}

.home-gallery-heading p {
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-gallery-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}

.home-gallery-slide {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 160px;
  gap: 8px;
  transition: all 0.3s;
  flex-shrink: 0;
}

.home-gallery-set {
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-self: stretch;
  gap: 40%;
  flex-shrink: 0;
  padding: 28px 16px;
  border-radius: 8px;
  background: linear-gradient(283deg, #5f0b87 -23.76%, #282828 99.95%);
}

.home-gallery-img {
  width: 40%;
  aspect-ratio: 395/254;
  object-fit: cover;
  border-radius: 8px;
}

.home-gallery-set h3 {
  color: #d9d9d9;
  font-family: var(--font-family-body, Inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-gallery-set p {
  color: #d9d9d9;
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-gallery-buttons {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.home-gallery-button {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  background: none;
  outline: none;
  border-radius: 4px;
  border: 2px solid var(--color-black-200, #929292);
  cursor: pointer;
}

.home-gallery-button img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.home-gallery-buttons .home-gallery-button:first-child img {
  transform: rotate(-180deg);
}

.home-packaging {
  align-items: center;
}

.home-packaging-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.home-packaging-set {
  width: 100%;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 48px;
  border-radius: 8px;
  border: 1px solid var(--color-grey-100, #d6d6d6);
}

.home-packaging-set-img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  align-self: stretch;
}

.home-packaging-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-packaging-set-text {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.home-packaging-set-text-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.home-packaging-set-text-heading-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}

.home-packaging-set-text-heading-head span {
  color: var(--color-Orange-Primary, #f05f30);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-packaging-set-text-heading-head h3 {
  color: var(--color-black-Primary, #111);
  font-family: var(--font-family-body, Inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-packaging-set-text p {
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-packaging-set-text hr {
  width: 100%;
  border: 1px solid #f2f2f2;
}

.home-packaging-set-text-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.home-packaging-set-text-content h4 {
  color: var(--color-grey-Primary, #6e6e6e);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-packaging-set-text-spans {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.home-packaging-set-text-spans span {
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--color-black-50, #e7e7e7);
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-fda {
  background: var(--color-black-Primary, #111);
}

.home-fda .template-heading h2 {
  color: var(--color-White-white, #fff);
}

.home-fda .template-heading h2 span {
  color: var(--color-black-100, #b5b5b5);
}

.home-fda .template-heading p {
  color: #707070;
}

.home-fda-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.home-fda-section {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  align-self: stretch;
  grid-column: span 4;
}

.home-fda-section-heading {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.home-fda-section-heading img {
  width: 80px;
  object-fit: cover;
}

.home-fda-section-heading h3 {
  color: var(--color-grey-50, #f2f2f2);
  font-family: var(--font-family-body, Inter);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
}

.home-fda-section-heading h3 span {
  color: var(--color-Orange-Primary, #f05f30);
}

.home-fda-set {
  display: flex;
  width: 100%;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--color-grey-900, #343434);
  background: rgba(65, 65, 65, 0.1);
  grid-column: span 3;
  transition: all 0.3s;
  cursor: pointer;
}

.home-fda-set:hover {
  border: 1px solid var(--color-Orange-Primary, #f05f30);
  background: rgba(240, 95, 48, 0.1);
}

.home-fda-set span {
  color: rgba(65, 65, 65, 0.3);
  font-family: var(--font-family-body, Inter);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
  transition: all 0.3s;
}

.home-fda-set:hover span {
  color: rgba(240, 95, 48, 0.5);
}

.home-fda-set h3 {
  color: var(--color-White-white, #fff);
  font-family: var(--font-family-body, Inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-fda-container p {
  color: var(--color-grey-400, #959595);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-fda-container .home-fda-set:nth-of-type(1) {
  grid-column: span 4;
}

.home-fda-container .home-fda-set:nth-of-type(2) {
  grid-column: span 4;
}

.home-manufacturing {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.home-manufacturing-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.home-manufacturing-text h2 {
  color: var(--color-black-Primary, #111);
  text-align: center;
  font-family: "ibm plex sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.2px;
}

.home-manufacturing-text p {
  max-width: 455px;
  width: 100%;
  color: var(--color-black-300, #4b4b4b);
  text-align: center;
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-snapshots {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  align-items: flex-end;
  gap: 32px;
}

.home-snapshots-left {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 64px;
  align-self: stretch;
}

.home-snapshots-left-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.home-snapshots-left-set {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.home-snapshots-left-set h3 {
  color: var(--color-black-Primary, #111);
  font-family: var(--font-family-body, Inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-snapshots-left-set p {
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-snapshots-right {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.home-snapshots-right-set {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-snapshots-right-set-img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-snapshots-right-set img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  aspect-ratio: 265/396;
}

.home-snapshots-right .home-snapshots-right-set:nth-of-type(1) {
  margin-bottom: 100px;
}
.home-snapshots-right .home-snapshots-right-set:nth-of-type(2) {
  margin-top: 100px;
}

.home-snapshots-right
  .home-snapshots-right-set:nth-of-type(1)
  .secondary-button {
  position: absolute;
  left: 16px;
  bottom: 25px;
}

.home-testimony {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.home-testimony-set {
  width: 100%;
  height: min-content;
  display: flex;
  padding: 64px 16px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 16px;
  border: 1px solid var(--color-grey-100, #d6d6d6);
}

.home-testimony-set h3 {
  color: var(--color-black-Primary, #111);
  font-family: var(--font-family-body, Inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-testimony-set p {
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-capabilities.home-partner {
  padding: 80px 0px;
}

.home-capabilities.home-partner .home-capabilities-container {
  max-width: 100%;
}

.home-partner-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 24px;
}

.home-partner-marquee {
  display: flex;
  align-items: center;
  width: max-content;
  animation: marqueeScroll 30s linear infinite;
}

.home-partner-marquee img {
  height: 117px;
  object-fit: cover;
  margin-left: 4px;
  border-radius: 8px;
}

/* Footer */

footer {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 32px;
}

.footer-heading {
  display: flex;
  width: 304px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.footer-heading-logo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-heading-logo img {
  height: 52px;
  object-fit: cover;
}

.footer-heading-logo h2 {
  color: var(--color-black-Primary, #111);
  font-family: "IBM Plex Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
}

.footer-heading p {
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.footer-nav a {
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-nav a:hover {
  color: #f05f30;
}

.footer-bottom {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}

.footer-bottom p {
  color: var(--color-black-300, #4b4b4b);
  font-family: var(--font-family-body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-bottom p svg {
  width: 18px;
  height: 18px;
  transform: translateY(2px);
  margin: 0px 2px;
}

.footer-bottom p a {
  color: var(--color-black-300, #4b4b4b);
  text-decoration: none;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}

.footer-bottom p a:hover {
  color: #ffbf00;
  border-bottom: 1px solid #ffbf00;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-social a svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  .navbar {
    height: 48px;
    padding: 0px 20px;
    border-bottom: 1px solid var(--color-grey-50, #f2f2f2);
    background: var(--White, #fff);
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.08);
  }

  .navbar-logo img {
    height: 32px;
  }

  .mobileNavbar {
    width: 100%;
    height: calc(100svh - 48px);
    background: #fff;
    position: fixed;
    top: 47px;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    padding: 48px 20px;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }

  .activeMobileNavbar {
    transform: translateX(0);
    animation: slideIn 0.3s forwards;
  }

  .nonactiveMobileNavbar {
    transform: translateX(100%);
    animation: slideOut 0.3s forwards;
  }

  .mobile-navbar-top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
  }

  .mobile-navbar-nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .mobile-navbar-nav-link {
    width: 100%;
    display: flex;
    height: 44px;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--color-black-Primary, #111);
    font-family: var(--font-family-body, Inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: all 0.3s;
  }

  .navbar-nav-link svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  .mobileNavbar .secondary-button {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  /* Home */

  .home-banner {
    height: 100svh;
    padding: 80px 20px;
  }

  .home-banner-container {
    max-width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .home-banner-img {
    width: 100%;
  }

  .home-banner-img img {
    width: 100%;
    height: auto;
  }

  .home-banner-text {
    gap: 8px;
  }

  .home-banner-text h1 {
    text-align: center;
    font-family: var(--font-family-title, "IBM Plex Sans");
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.96px;
  }

  .home-banner-text p {
    color: var(--color-black-300, #4b4b4b);
    text-align: center;
    font-family: var(--font-family-body, Inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-banner-buttons {
    max-width: 100%;
    flex-direction: column;
  }

  .primary-button {
    height: 48px;
    font-size: 16px;
  }

  .home-marquee {
    padding: 48px 0px;
  }

  .home-marquee h2 {
    color: var(--color-black-400, #414141);
    text-align: center;
    font-family: var(--font-family-body, Inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-marquee-container {
    max-width: 100%;
  }

  .home-marquee-marquee img {
    height: 65px;
    margin-left: 40px;
  }

  .template {
    padding: 48px 20px;
    gap: 40px;
  }

  .template-heading {
    gap: 8px;
  }

  .template-heading h2 {
    font-family: var(--font-family-body, Inter);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .template-heading p {
    max-width: 100%;
    color: var(--color-grey-Primary, #6e6e6e);
    font-family: var(--font-family-body, Inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-choose-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .home-choose-container .home-choose-set:nth-child(3) {
    flex-direction: column;
  }

  .home-choose-container .home-choose-set:nth-child(4) {
    flex-direction: column;
  }

  .home-para {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .home-para-container {
    max-width: 100%;
    padding-top: 32px;
    gap: 32px;
  }

  .home-para-container h2 {
    font-family: var(--font-family-body, Inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-para-container p {
    color: var(--color-black-300, #4b4b4b);
    font-family: var(--font-family-body, Inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-about {
    flex-direction: column;
  }

  .home-about-left {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .home-about-set {
    align-items: center;
    min-width: 100%;
    color: var(--color-black-50, #e7e7e7);
    text-align: center;
    font-family: var(--font-family-body, Inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-about-right {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .home-about-para {
    color: var(--color-black-50, #e7e7e7);
    text-align: center;
    font-family: var(--font-family-body, Inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-categories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .home-categories-button .primary-button p {
    font-size: 16px;
  }

  .home-capabilities {
    padding: 105px 20px 104px 20px;
  }

  .home-capabilities-container-text h2 {
    color: var(--color-White-white, #fff);
    text-align: center;
    font-family: var(--font-family-body, Inter);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  .home-gallery {
    display: flex;
    padding: 48px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .home-gallery-heading {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0px 20px;
  }

  .home-gallery-heading h2 {
    width: 100%;
    color: var(--color-black-400, #414141);
    text-align: center;
    font-family: var(--font-family-body, Inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .home-gallery-heading p {
    color: var(--color-black-300, #4b4b4b);
    text-align: center;
    font-family: var(--font-family-body, Inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-gallery-container {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .home-banner::-webkit-scrollbar {
    display: none;
  }

  .home-gallery-slide {
    padding: 0px 20px;
  }

  .home-gallery-set {
    width: 50%;
  }

  .home-gallery-img {
    width: 80%;
  }

  .home-gallery-set p {
    color: #d9d9d9;
    font-family: var(--font-family-body, Inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-gallery-set h3 {
    color: #d9d9d9;
    font-family: var(--font-family-body, Inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .home-packaging-container {
    width: 100%;
  }

  .home-packaging-set {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .home-packaging-set-img {
    width: 100%;
  }

  .home-packaging-set-text {
    width: 100%;
    gap: 16px;
  }

  .home-packaging-set-text-heading-head span {
    font-size: 14px;
  }

  .home-packaging-set-text-heading-head h3 {
    font-size: 20px;
  }

  .home-fda-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .home-fda-section-heading h3 {
    font-size: 24px;
  }

  .home-fda-set {
    border: 1px solid var(--color-Orange-Primary, #f05f30);
    background: rgba(240, 95, 48, 0.1);
  }

  .home-fda-set span {
    color: rgba(240, 95, 48, 0.5);
  }

  .home-manufacturing {
    padding: 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .home-manufacturing img {
    width: 80%;
    object-fit: cover;
  }

  .home-manufacturing-text h2 {
    color: var(--color-black-Primary, #111);
    text-align: center;
    font-family: var(--font-family-body, Inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-manufacturing-text p {
    color: var(--color-black-300, #4b4b4b);
    text-align: center;
    font-family: var(--font-family-body, Inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-snapshots {
    flex-direction: column;
    padding: 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .home-snapshots-right-set {
    flex-direction: column;
    gap: 16px;
  }

  .home-snapshots-right
    .home-snapshots-right-set:nth-of-type(1)
    .secondary-button {
    bottom: 9px;
    left: 9px;
  }

  .home-snapshots-right .home-snapshots-right-set:nth-of-type(1) {
    margin-bottom: 44px;
  }

  .home-snapshots-right .home-snapshots-right-set:nth-of-type(2) {
    margin-top: 44px;
  }

  .home-snapshots-left-set h3 {
    color: var(--color-black-Primary, #111);
    font-family: var(--font-family-body, Inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-snapshots-left-set p {
    font-size: 14px;
  }

  .home-testimony {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .home-testimony-set {
    padding: 32px 16px 16px 16px;
  }

  .home-testimony-set h3 {
    color: var(--color-black-Primary, #111);
    font-family: var(--font-family-body, Inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home-testimony-set p {
    color: var(--color-black-300, #4b4b4b);
    font-family: var(--font-family-body, Inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-capabilities.home-partner {
    padding: 100px 0px;
  }

  .home-capabilities-container-text {
    padding: 0px 20px;
  }

  /* Footer */

  footer {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-heading-logo img {
    height: 40px;
  }

  .footer-heading-logo h2 {
    color: var(--color-black-Primary, #111);
    font-family: "IBM Plex Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
  }

  .footer-heading p {
    color: var(--color-black-300, #4b4b4b);
    font-family: var(--font-family-body, Inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer-nav {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .footer-social {
    order: 1;
    padding-bottom: 24px;
  }

  .footer-bottom p {
    order: 2;
  }
}
